@page
@model WebHost.Areas.UserPanel.Pages.Account.EditProfileModel
@{
    ViewData["Title"] = "ویرایش حساب کاربری";
}


<section id="content-container" class="col-12 col-lg-8" style="margin: 20px auto !important">
    <div id="container-body">

        <div class="col col-md-12">
            <div class="row">
                <div class="col col-md-8">
                    <div class="card py-5 ">
                        <div class="inputs px-4 ">
                            <span class="text-uppercase">نام و نام خانوادگی</span>
                            <input type="text" class="form-control">
                        </div>
                        <div class="row mt-3 g-2">
                            <div class="col-md-6">
                                <div class="inputs px-4">
                                    <span class="text-uppercase">ایمیل ادرس</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inputs px-4">
                                    <span class="text-uppercase">شماره موبایل</span>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4">
                    <br/>
                    <span class="text-uppercase name">تصویر پروفایل</span>
                    <div id="container-profile-teacher">
                        <div id="container-img-name-job-teacher">
                            <img src="~/images/profile-1.jpg" alt="Photo Teacher" id="img-info-user">
                        </div>
                    </div>
                    <input type="file" vlue=""/>
                    <br/>
                </div>
                <input type="submit" class="btn btn-warning col col-md-3 m-lg-4" value="ویرایش"/>
            </div>

            <br/>
        </div>
    </div>

</section>