@page
@using _0_FrameWork.Application
@model WebHost.Pages.AccountModel
@{
    Layout = "Shared/_AccountLayout";
    ViewData["Title"] = "ثبت نام در لرن هاب";
}

<br/>
<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">فرم ثبت نام</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">


            @if (ViewData["IsSuccess"] != null)
            {
                <div class="alert alert-success text-center">
                    <span>ایمیل حاوی کد فعال سازی به ایمیل ادرس شما ارسال شد، لطفا ایمیل خود تایید کنید.</span>
                </div>

                <script>
                    var delay = 5000;
                    setTimeout(function() {
                            window.location = "/Login";
                        },
                        delay);
                </script>
            }
            @if (ViewData["ExistEmail"] != null)
            {
                <p class="alert alert-danger text-center">
                    بااین ایمیل قبلا ثبت نام کرده اید.
                    <a asp-page="Account" asp-page-handler="ForgotPassword" class="text-primary">بازیابی رمز عبور</a>
                </p>
            }
            <form method="post" class="signin-form">
                <div class="form-group">
                    <input type="text" name="fullname" class="form-control" placeholder="نام کامل" required oninvalid="this.setCustomValidity('@(Validate.Required)')"
                           oninput="setCustomValidity('')">
                </div>

                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="ایمیل" required oninvalid="this.setCustomValidity('@(Validate.Required)')"
                           oninput="setCustomValidity('')">
                </div>

                <div class="form-group">
                    <input type="tel" name="phone" class="form-control" placeholder="شماره موبایل" required oninvalid="this.setCustomValidity('@(Validate.Required)')"
                           oninput="setCustomValidity('')">
                </div>

                <div class="form-group">
                    <input name="password" id="password-field" type="password" class="form-control" placeholder="رمز عبور" required oninvalid="this.setCustomValidity('@(Validate.Required)')"
                           oninput="setCustomValidity('')">
                    <span toggle="#password-field" class="  fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>

                <div class="form-group">
                    <input type="submit" class="form-control btn btn-primary submit px-3" value="ثبت نام">
                </div>
            </form>

            <p class="w-100 text-center">&mdash; <a asp-page="Login">من قبلا ثبت نام کرده ام</a> &mdash;</p>

        </div>
    </div>
</div>