@page "{id}"
@model WebHost.Pages.CoursesModel
@{
    ViewData["Title"] = "دوره های آموزشی";
}

    <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3">دوره ها</h5>
            <h1>جدیدین ترین دوره ها</h1>
        </div>
        <partial name="Shared/PartialViews/_Courses" model="Model.Course" />
    </div>
</div>
@section Scripts
{
    <script>
        function Search() {
            $("#submitSearch").submit();
        }
    </script>
}    ;
