@page "{id}"
@using _0_FrameWork.Application
@model WebHost.Pages.CoursesModel
@inject IAuthHelper _authHelper;
@{
    ViewData["Title"] = " دوره های آموزشی لرن هاب";
}
<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            @if (!_authHelper.IsAuthenticated())
            {
                <h3 class="text-primary text-uppercase text-left account-link" style="margin-bottom: 2rem !important">
                    <a class="text-primary text-uppercase" style="font-size:15px" asp-page="Login"> ورود </a> <a style="font-size:13px">/</a> 
                    <a class="text-primary text-uppercase" style="font-size:15px" asp-page="Account" asp-page-handler="Register"> عضویت </a>
                </h3>
            }
            else
            {
                <h3 class="text-primary  text-left account-link" style="margin-bottom: 2rem !important">
                    <a class=" text-primary" style="font-size:15px" asp-page="Login"><i class="fas fa-user-tie"></i> @_authHelper.CurrentAccountFullName()، خوش آمدی </a> 
                    <a class="text-primary text-uppercase" style="font-size:15px">/</a> <a class="text-primary text-uppercase" style="font-size:13px" asp-page="Account" asp-page-handler="Logout"> خروج </a>

                </h3>
            }
            <h3 class="display-4 text-white text-uppercase">دوره ها</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" asp-page="Index">خانه</a></p>
                <i class="fa fa-angle-double-left pt-1 px-3"></i>
                <p class="m-0 text-uppercase">دوره ها</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3">دوره ها</h5>
            <h1>جدیدین ترین دوره ها</h1>
        </div>
       
            <partial name="Shared/PartialViews/_Courses" model="Model.Course" />
    </div>
</div>

@section Scripts
{
    <script>
        function Search() {
            $("#submitSearch").submit();
        }
    </script>
}

;