@page
@model ErrorModel
@{ ViewData["Title"] = "صفحه مورد نظر یافت نشد";
                Layout = null; }



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Bootstrap Website Templates">

    <title>صفحه مورد نظر یافت نشد</title>

    <!-- Bootstrap Core CSS -->
    <link href="/error-page/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/error-page/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    


</head>

<body>

<div class="container text-center" >
    <div class="brand">
        <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
        <h3 class="text-uppercase">لرن هاب</h3>
        <h3 class="text-uppercase"> اوووو نی!! صفحه درخواستی شما یافت نشد</h3>
    </div>
    <h1 class="head"><span>404</span></h1>
    <p>لطفا به ما گزارش کرده و توضیح دهید که چگونه این اتفاق افتاده است</p>
    <a href="/Index" class="btn-outline"> بازگشت به خانه</a>
    <a href="/ContactUs" class="btn-outline"> گزارش این خطا</a>
</div>

<div class="bwt-footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <div class="left-text">Copyright &copy; The King Maker 2018. All Rights Reserved</div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="/error-page/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/error-page/js/bootstrap.min.js"></script>
<!-- Theme JavaScript -->
<script src="/error-page/js/script.js"></script>

</body>
</html>	
