@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using _0_FrameWork.Application
@model AccountManagement.Application.Contract.Account.ForgotPasswordViewModel
@{
    ViewData["Title"]= "بازیابی رمز عبور";
    Layout = "Shared/_AccountLayout";
}

<div id="main-container">
    <div class="container">
        <div class="row" id="row-container">
            <img src="images/avatar-login.png" alt="Avatar" id="avatar-img">
            <div class="col-9 col-md-7 col-lg-5 col-xl-4" id="container-form">
                <h2 id="title-heading">بازیابی کلمه عبور</h2>
               @if (ViewData["Message"] != null)
               {         
               <div class="alert alert-warning text-center">
                   <span>@ViewData["Message"]</span>
               </div>
               }
              

                @if (ViewData["Success"] != null)
                {
                    <div class="alert alert-success text-center">
                        <p>@ViewData["Success"]
                            </p>
                    </div>
                }

                <form method="post"  id="form">
                    <label for="email-input" class="label-input">ایمیل خود را وارد کنید :</label>
                    <input type="email"  name="email" placeholder="example@domain.com" autofocus autocomplete="on" 
                           id="email-input" class="inputs"
                           required   oninvalid="this.setCustomValidity('@(Validate.Required)')"
                           oninput="setCustomValidity('')">
                    <span asp-validation-for="Email"></span>

                    <div id="meesageRepass"></div>
                    <div id="container-submit">
                        <input type="submit" value="تایید" id="submit" class="validation" >
                    </div>

                    <div class="showSpiner">
                        <img src="images/spiner.gif" alt="spiner" id="spiner">
                    </div>
                    <a asp-page="Account" asp-page-handler="Login" class="anchor-form">ورود به سایت !</a>
                    <a asp-page="Account" asp-page-handler="Register" class="anchor-form">هنوز ثبت نام نکرده ام !</a>
                </form>
            </div>
        </div>
    </div>
</div>