@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using _0_FrameWork.Application
@model AccountManagement.Application.Contract.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
    Layout = "Shared/_AccountLayout";
}
<br/>
<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">باز یابی کلمه عبور</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">برای بازیابی کلمه عبور ایمیل خود را وارد کنید.</h3>

            <form method="post" class="signin-form">


                @if (ViewData["Message"] != null)
                {
                    <div class="alert alert-warning text-center">
                        <span>@ViewData["Message"]</span>
                    </div>
                }


               
                @if (ViewData["Success"] != null)
                {
                    <div class="alert alert-success text-center">
                        <p>
                            @ViewData["Success"]
                        </p>
                    </div>
                }

                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="ایمیل خود را وارد کنید" required oninvalid="this.setCustomValidity('@(Validate.Required)')"
                           oninput="setCustomValidity('')">
                </div>

                <div class="form-group">
                    <input type="submit" class="form-control btn btn-primary submit px-3" value="ورود">
                </div>

            </form>

            <p class="w-100 text-center">&mdash; و یا انتخاب کنید &mdash;</p>
            <div class="social-facebook d-flex text-center">

                <a asp-page="Login" class="px-2 py-2 mr-4 text-center "> ورود به سایت</a>

                <a asp-page="Account" asp-page-handler="Register"  class="px-2 py-2 ml-md-3  ">هنوز ثبت نام نکرده ام</a>
            </div>
        </div>
    </div>
</div>