@page
@using ShiftCoderQuery.Contract.Course
@model IndexModel

@{
    ViewData["Title"] = "خانه";
   
}

<div class="row justify-content-center" id="custom-container-fluid-header">
    <div class="col-12 col-md-8">
        <h3 id="header-top-text">شیفت کدر منبعی مملو از آموزشات</h3>
        <h4 id="header-bottom-text">بدون هزینه برنامه نویس و طراح گرافیست شو</h4>
        <form method="get" id="container-searchbox-header" asp-page="Courses">
            <input type="text" asp-for="SearchModel.Name" id="searchbox-header" placeholder="میخواهی چی یاد بگیری ...">
            <button id="container-icon-search-header">
                <img src="~/icons/search.png" alt="search" id="search-img-header">
            </button>
        </form>

        <div class="col-6" id="container-signin-login">
            <a asp-page="Account" asp-page-handler="Register" class="white" id="anchor-btn-signin">
                <p><span class="bg"></span><span class="base"></span><span class="text">ثبت نام</span></p>
            </a>
            <a asp-page="Login"  class="white" id="anchor-btn-signin">
                <p><span class="bg"></span><span class="base"></span><span class="text">ورود</span></p>
            </a>
        </div>
       
        <cache expires-after="@TimeSpan.FromMinutes(5)">
            @await Component.InvokeAsync("IndexDetails")
        </cache>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="container-section-bottom-header">
                <div class="section-bottom-header">
                    <img src="~/images/img-login.png" alt="moshavere" class="img-section-bottom-header">
                    <div class="cotainer-p-bottom-header">
                        <a class="anchor-section-bottom-header">
                            <p class="p-section-top-header">مشاوره و رفع اشکال</p>
                        </a>
                        <a class="anchor-section-bottom-header">
                            <p class="p-section-bottom-header">به صورت کاملا رایگان</p>
                        </a>
                    </div>
                </div>
                <div class="section-bottom-header">
                    <img src="~/images/img-marketing.png" alt="moshavere" class="img-section-bottom-header">
                    <div class="cotainer-p-bottom-header">
                        <a class="anchor-section-bottom-header">
                            <p class="p-section-top-header">همکاری با شیفت کدر</p>
                        </a>
                        <a class="anchor-section-bottom-header">
                            <p class="p-section-bottom-header">بدون هیچ گونه شرایط خاصی</p>
                        </a>
                    </div>
                </div>
                <div class="section-bottom-header" id="section-bottom-header-video">
                    <img src="~/images/img-learning.png" alt="moshavere" class="img-section-bottom-header">
                    <div class="cotainer-p-bottom-header">
                        <a  class="anchor-section-bottom-header">
                            <p class="p-section-top-header">دوره ها ، مقالات و ویدئو ها</p>
                        </a>
                        <a  class="anchor-section-bottom-header">
                            <p class="p-section-bottom-header">آپدیت روزانه و بدون محدودیت</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container-name-section-content">
                <h2 class="name-section-content">
                    <a class="link-section-content">جدیدترین دوره های شیفت کدر</a>
                </h2>
                <div class="line-section-content"></div>
                <a asp-page="Courses" class="container-full-packages">
                    <p>مشاهده تمامی دوره ها</p>
                    <img src="~/icons/double-left-arrows-symbol.png" alt="arrow" class="img-arrow-full-packages">
                </a>
            </div>
        </div>
    </div>
</div>

<cache expires-after="@TimeSpan.FromMinutes(5)">
    @await Component.InvokeAsync("LatestCourses")
</cache>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container-name-section-content">
                <h2 class="name-section-content">
                    <a class="link-section-content">محبوب ترین دوره های شیفت کدر</a>
                </h2>
                <div class="line-section-content" id="line-section-content-blue"></div>
                <a asp-page="Courses" class="container-full-packages">
                    <p>مشاهده تمامی دوره ها</p>
                    <img src="~/icons/double-left-arrows-symbol.png" alt="arrow" class="img-arrow-full-packages">
                </a>
            </div>
        </div>
    </div>
</div>

<cache expires-after="@TimeSpan.FromMinutes(5)">
    @await Component.InvokeAsync("PopularCourse")
</cache>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container-name-section-content">
                <h2 class="name-section-content">
                    <a class="link-section-content">آخرین مقالات شیفت کدر</a>
                </h2>
                <div class="line-section-content" id="line-section-content-yellow"></div>
                <a asp-page="Articles" class="container-full-packages">
                    <p>مشاهده تمامی مقالات</p>
                    <img src="~/icons/double-left-arrows-symbol.png" alt="arrow" class="img-arrow-full-packages">
                </a>
            </div>
        </div>
    </div>
</div>
<cache expires-after="@TimeSpan.FromMinutes(5)">
    @await Component.InvokeAsync("Articles")
</cache>
