@page
@model LoginModel
@{
    ViewData["Title"] = "ورود به سایت";
    Layout = "Shared/_AccountLayout";
}

<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<br/>
<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">ورود به سایت</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">

            @if (ViewData["Success"] != null)
            {
                <span class="text-success float-right mr-5 mb-3">
                    ورود شما با موفقیت انجام شد.
                </span>

                <script>
                    // milliseconds
                    var delay = 2000;
                    setTimeout(function() { window.location = "/Index"; }, delay);
                </script>
            }

            @if (ViewData["Message"] != null)
            {
                <span class="text-danger float-right mr-5 mb-3">رمز عبور و یا ایمیل شما درست نمیباشد</span>
            }
            <form method="post" class="signin-form">

                <div class="form-group">
                    <input type="email" asp-for="Login.Email" class="form-control" placeholder="ایمیل" required oninvalid="this.setCustomValidity('لطفا ایمیلی خود را وارد کنید')"
                           oninput="setCustomValidity('')">
                    <span asp-validation-for="Login.Email" class="text-danger pull-right"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Login.Password" id="password-field" type="password" class="form-control" placeholder="رمز عبور" required oninvalid="this.setCustomValidity('رمز عبور خود را وارد نماید.')"
                           oninput="setCustomValidity('')">
                    <span toggle="#password-field" class="  fa fa-fw fa-eye field-icon toggle-password"></span>
                    <span asp-validation-for="Login.Password" class="text-danger pull-right"></span>
                    </div>

                <div class="form-group">
                    <input type="submit" class="form-control btn btn-primary submit px-3" value="ورود">
                </div>

                <div class="form-group d-md-flex row">

                    <div class="w-50  ">
                        <label class="checkbox-wrap checkbox-primary">
                            <input asp-for="Login.RememberMe" type="checkbox" checked>
                            <span class="checkmark mr-2"></span>
                            مرا بخاطر بسپار
                        </label>
                    </div>

                    <div class="w-50 forgot-password  text-left  ">
                        <a asp-page="ForgotPassword">رمز خود را فراموش کرده ام</a>
                    </div>

                </div>
            </form>

            <p class="w-100 text-center">&mdash; یا وارد شوید با &mdash;</p>
            <div class="social-facebook d-flex text-center">

                <a class="px-2 py-2 mr-4 text-center facebook-icon rounded"><span class="iconify" data-icon="ion-social-facebook" data-inline="false"></span> فیسبوک</a>

                <a class="px-2 py-2 ml-md-3 rounded google-icon "><span class="iconify " data-icon="ant-design:google-plus-outlined" data-inline="false"></span>گوگل</a>
            </div>
        </div>
    </div>
</div>