@page
@model WebHost.Pages.LoginModel
@{
    ViewData["Title"] = "ورود به سایت";
    Layout = "Shared/_AccountLayout";
}
<div id="main-container">
    <div class="container">
        <div class="row" id="row-container">
            <img src="images/avatar-login.png" alt="Avatar" id="avatar-img">
            <div class="col-9 col-md-7 col-lg-5 col-xl-4" id="container-form">
                <h2 id="title-heading">فرم ورود</h2>
                @if (ViewData["IsSuccess"] != null)
                {
                    <div class="alert alert-success text-center">
                        <p>ورود شما با موفقیت انجام شد</p>
                    </div>

                    <script>
                        var daley = 2000;
                        setTimeout(function () {
                            window.location = "/Index";
                        },
                            daley);
                    </script>
                }
                @Model.Message =<p class="text-center text-danger">رمز عبور ویا ایمیل شما درست نمیباشد</p>
                <form method="post" id="form">
                    <label for="email-input" class="label-input">ایمیل :</label>
                    <input type="email" asp-for="Login.Email" name="email" placeholder="example@domain.com" autofocus autocomplete="on" required
                           id="email-input" class="inputs">
                    <label for="password-input" class="label-input">گذرواژه :</label>
                    <input type="password" asp-for="Login.Password" name="password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
                           autofocus autocomplete="on" required id="password-input" class="inputs">
                    <div id="container-submit">
                        <input type="submit" value="ورود" id="submit">
                    </div>
                    <div class="showSpiner">
                        <img src="images/spiner.gif" alt="spiner" id="spiner">
                    </div>
                    <a asp-page="forgotPassword" class="anchor-form">گذرواژه را فراموش کرده ام !</a>
                    <a asp-page="Register" class="anchor-form">هنوز ثبت نام نکرده ام !</a>
                </form>
            </div>
        </div>
    </div>
</div>