@model ShiftCoderQuery.Contract.Forum.Question.AddQuestionQueryModel
@{
    ViewData["Title"] = Model.Title;
    Layout = "Shared/_Layout";
}


<div class="container-fluid py-5">
    <div class="container py-5">
        <div Class="row">
            <div class="col-lg-8">
                <div class="contact-form bg-secondary rounded p-5">
                    <div id="success"></div>
                    <p class="alert alert-warning">
                        برای مدیریت بهتر سوالات خود و پشتیبانی ما، توصیه میشود در سایت
                        <a class="text-info" asp-page="Account" asp-page-handler="Register">ثبت نام</a> کرده و لاگین کنید
                    </p>

                    <form method="post" asp-page="Forum" asp-page-handler="Question">
                        <input type="hidden" asp-for="CourseId" value="@Model.CourseId" />
                        <div class="form-group">
                            <label for="name">نام شما *</label>
                            <input asp-for="Name" type="text" class="form-control border-0" id="name" required oninvalid="this.setCustomValidity('نام خود را وارد کنید و یا در سایت لاگین نمائید.')"
                                   oninput="setCustomValidity('')">
                        </div>

                        <div class="form-group">
                            <label for="name">عنوان سوال *</label>
                            <input asp-for="Title" type="text" class="form-control border-0" id="name" required oninvalid="this.setCustomValidity('لطفا یک موضوعی برای سوال بنویسید.')"
                                   oninput="setCustomValidity('')">
                        </div>

                        <div class="form-group">
                            <label for="message">متن سوال</label>
                            <textarea asp-for="Body" id="editor" cols="30" class="form-control border-0" placeholder="سوال خود را بنویسید"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <input type="submit" value="ایجاد سوال" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">
                        </div>
                    </form>
                </div>
            </div>
          
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <partial name="Shared/PartialViews/_LatestQuestion" model="Model.LatestQuestion" />
                </div>
          
        </div>
    </div>
</div>


@section Scripts
{
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/translations/fa.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'),
                {
                    language: 'fa',
                    ckfinder: { uploadUrl: '/index/?handler=UploadImage' },

                    toolbar: {
                        items: [
                            'heading', '|',
                            'fontsize', '|',
                            'alignment', '|',
                            'fontColor', 'fontBackgroundColor', '|',
                            'bold', 'italic', 'strikethrough', 'underline', 'subscript', 'superscript', '|',
                            'outdent', 'indent', '|',
                            'bulletedList', 'numberedList', 'todoList', '|',
                            'code', 'codeBlock', '|',
                            'insertTable', '|',
                            'uploadImage', 'blockQuote', '|',
                            'undo', 'redo'
                        ],
                        shouldNotGroupWhenFull: true

                    }
                })
            .catch(error => {
                console.error(error);
            });
    </script>
}