@model AccountManagement.Application.Contract.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "Shared/_AccountLayout";
}

<br />
<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">بازیابی کلمه عبور</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">

            @if (ViewData["Success"] != null)
            {
                <span class="text-success float-right mr-5 mb-3">
                   @ViewData["Success"]
                </span>

                <script>
                    // milliseconds
                    var delay = 2000;
                    setTimeout(function () {
                        window.location = "/UserPanel/Dashboard";
                    }, delay);
                </script>
            }

            <form method="post" asp-page="Account" asp-page-handler="ResetPassword">

                <div class="form-group">
                    <input asp-for="Password" id="password-field" type="password" class="form-control" placeholder="رمز عبور جدید" required oninvalid="this.setCustomValidity('رمز عبور جدیدی وارد کنید.')"
                           oninput="setCustomValidity('')">
                    <span toggle="#password-field" class="  fa fa-fw fa-eye field-icon toggle-password"></span>
                    <span asp-validation-for="Password" class="text-danger pull-right"></span>
                </div>

                <div class="form-group">
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور" required oninvalid="this.setCustomValidity('رمز خود را تایید کنید.')"
                           oninput="setCustomValidity('')">
                    <span asp-validation-for="RePassword" class="text-danger pull-right"></span>
                </div>


                <div class="form-group">
                    <input type="submit" class="form-control btn btn-primary submit px-3" value="تغییر کلمه عبور">
                </div>
            </form>

            <p class="w-100 text-center">&mdash; <a asp-page="Login">ورود به سایت</a> &mdash;</p>
        </div>
    </div>
</div>
