
@using _0_FrameWork.Application
@model AccountManagement.Application.Contract.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "بازنشانی کلمه عبور";
    Layout = "Shared/_AccountLayout";
}

<div id="main-container">
    <div class="container">
        <div class="row" id="row-container">
            <img src="images/avatar-login.png" alt="Avatar" id="avatar-img">
            <div class="col-9 col-md-7 col-lg-5 col-xl-4" id="container-form">
                <h2 id="title-heading">تنظیم مجدد کلمه عبور</h2>
                @if (ViewData["Success"] != null)
                {
                    <div class="alert alert-success text-center">
                        <p>@ViewData["Success"]</p>
                    </div>

                    <script>
                        var daley = 3000;
                        setTimeout(function () {
                            window.location = "Account?handler=Login";
                        }, daley);
                    </script>
                }
                <form method="post" id="form" asp-page="Account" asp-page-handler="ResetPassword">
                    <label for="email-input" class="label-input">رمز عبور جدید :</label>
                    <input type="password" name="password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"
                           autofocus autocomplete="on" id="password-input" class="inputs"
                           required   oninvalid="this.setCustomValidity('@(Validate.Required)')"
                           oninput="setCustomValidity('')">
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <input type="hidden" asp-for="ActiveCode" value="@Model.ActiveCode"/>
                    <div id="meesageRepass"></div>
                    <div id="container-submit">
                        <input type="submit" value="تایید" id="submit" class="validation" >
                    </div>

                    <div class="showSpiner">
                        <img src="images/spiner.gif" alt="spiner" id="spiner">
                    </div>
                    <a asp-page="Login" class="anchor-form">ورود به سایت !</a>
                    <a asp-page="Account" asp-page-handler="Register" class="anchor-form">هنوز ثبت نام نکرده ام !</a>
                </form>
            </div>
        </div>
    </div>
</div>