@page
@model WebHost.Pages.ShowQuestionModel
@{
}
<div class="container py-5">
    <div Class="row">
        <div class="col-lg-8 col-sm-12 col-xs-12">
            <section id="body-container" class="container">
                <div class="condition-course condition-course-mb">
                    <div>
                        <p class="paragraph-support">1400/06/03</p>

                        <p class="text-earth">
                            سشلام من ینمب ینبتن شمای ترنی بت
                        </p>
                        <br />
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                            ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                    <br />
                    <div id="container-img-name-job-teacher">
                        <img src="~/img/user.jpg" alt="Photo Teacher" class="forum-cover-photo" id="img-info-teacher">
                        <div id="container-name-job-teacher">
                            <h4 id="name-info-teacher"><a href="#">ماهان فروزنده نیک</a></h4>
                        </div>
                    </div>
                </div>
            </section>

            <section class="container row">
                <br />
                <br />
                <div id="container-img-name-job-teacher " class="col-md-2 mt-lg-5">
                    <img src="~/img/DefaultImg/answer-comment.png" alt="Photo Teacher" id="img-info-teacher">
                    <p class="mt-4">قدرت احساس</p>
                </div>


                <div class="condition-course condition-course-mb col-md-10">
                    <div>
                        <p class="paragraph-support">1400/06/03</p>

                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                            ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                </div>

            </section>


            <section class="container row">
                <br />
                <br />
                <div id="container-img-name-job-teacher " class="col-md-2 mt-lg-5">
                    <img src="~/img/DefaultImg/answer-comment.png" alt="Photo Teacher" id="img-info-teacher">
                    <p class="mt-4">قدرت احساس</p>
                </div>


                <div class="condition-course condition-course-mb col-md-10">
                    <div>
                        <p class="paragraph-support">1400/06/03</p>

                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                            ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                </div>

            </section>


            <section class="container row">
                <br />
                <br />
                <div id="container-img-name-job-teacher " class="col-md-2 mt-lg-5">
                    <img src="~/img/DefaultImg/answer-comment.png" alt="Photo Teacher" id="img-info-teacher">
                    <p class="mt-4">قدرت احساس</p>
                </div>


                <div class="condition-course condition-course-mb col-md-10">
                    <div>
                        <p class="paragraph-support">1400/06/03</p>

                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                            ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                </div>

            </section>



            <section class="container row">
                <br />
                <br />
                <div id="container-img-name-job-teacher " class="col-md-2 mt-lg-5">
                    <img src="~/img/DefaultImg/answer-comment.png" alt="Photo Teacher" id="img-info-teacher">
                    <p class="mt-4">قدرت احساس</p>
                </div>


                <div class="condition-course condition-course-mb col-md-10">
                    <div>
                        <p class="paragraph-support">1400/06/03</p>

                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                            ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                </div>

            </section>

        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
            <!-- Search Form -->
            <div class="mb-5">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Keyword">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Category List -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Web Design</a>
                        <span class="badge badge-primary badge-pill">150</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Web Development</a>
                        <span class="badge badge-primary badge-pill">131</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Online Marketing</a>
                        <span class="badge badge-primary badge-pill">78</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Keyword Research</a>
                        <span class="badge badge-primary badge-pill">56</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <a href="" class="text-decoration-none h6 m-0">Email Marketing</a>
                        <span class="badge badge-primary badge-pill">98</span>
                    </li>
                </ul>
            </div>

            <!-- Recent Post -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Post</h3>
                <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                    <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                    <div class="pl-3">
                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                        <small>Jan 01, 2050</small>
                    </div>
                </a>
                <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                    <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                    <div class="pl-3">
                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                        <small>Jan 01, 2050</small>
                    </div>
                </a>
                <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                    <img class="img-fluid rounded" src="img/blog-80x80.jpg" alt="">
                    <div class="pl-3">
                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                        <small>Jan 01, 2050</small>
                    </div>
                </a>
            </div>

            <!-- Tag Cloud -->
            <div class="mb-5">
                <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                <div class="d-flex flex-wrap m-n1">
                    <a href="" class="btn btn-outline-primary m-1">Design</a>
                    <a href="" class="btn btn-outline-primary m-1">Development</a>
                    <a href="" class="btn btn-outline-primary m-1">Marketing</a>
                    <a href="" class="btn btn-outline-primary m-1">SEO</a>
                    <a href="" class="btn btn-outline-primary m-1">Writing</a>
                    <a href="" class="btn btn-outline-primary m-1">Consulting</a>
                </div>
            </div>
        </div>
    </div>
</div>