@using _0_Framework.Application
@model IEnumerable<ShiftCoderQuery.Contract.Course.GetAllCourseQueryModel>
<div class="container">
    <div class="row">
        <partial name="PartialViews/_Courses" model="Model"/>

    </div>
</div>
