@model AccountManagement.Application.Contract.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز ورود";
}
<div class="container">
    <partial name="Shared/_Create_View_Header" />

    <form asp-page="./Index" asp-page-handler="ChangePassword"
          method="post"
          data-ajax="true"
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="OldPassword" class="control-label">رمز عبور فعلی<span class="text-danger">*</span></label>
                        <input type="text" asp-for="OldPassword" class="form-control">
                        <span class="text-danger" asp-validation-for="OldPassword"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label">رمز عبور جدید<span class="text-danger">*</span></label>
                        <input type="text" asp-for="NewPassword" class="form-control " required>
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                </div>
            </div>
        </div>
        <input asp-for="Id" value="@Model.Id" type="hidden"/>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
            <button type="submit" class="btn btn-info waves-effect waves-light">تغییر رمز</button>
        </div>
    </form>
</div>