
@page
@model WebHost.Areas.Administration.Pages.Account.Users.CreateModel
@{
    ViewData["Title"] = "ایجاد کابر جدید";

}

<div id="page-wrapper">
    <div class="container">
        <partial name="Shared/_Create_View_Header" />

        <form method="post" enctype="multipart/form-data">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Command.FullName" class="control-label">نام کامل<span class="text-danger">*</span></label>
                            <input type="text" asp-for="Command.FullName" class="form-control">
                            <span class="text-danger" asp-validation-for="Command.FullName"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Command.Email" class="control-label">ایمیل<span class="text-danger">*</span></label>
                            <input type="email" asp-for="Command.Email" class="form-control " required>
                            <span class="text-danger" asp-validation-for="Command.Email"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Command.Phone" class="control-label">موبایل</label>
                            <input type="tel" asp-for="Command.Phone" class="form-control " required>
                            <span class="text-danger" asp-validation-for="Command.Phone"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Command.Password" class="control-label">رمز عبور<span class="text-danger">*</span></label>
                            <input type="password" class="form-control" asp-for="Command.Password">
                            <span class="text-danger" asp-validation-for="Command.Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Command.RoleId" class="control-label">انتخاب نقش...<span class="text-danger">*</span></label>
                            <Select asp-for="Command.RoleId" asp-Items="@Model.SelectList" type="file" class="form-control">
                                <option value="0">--انتخاب کنید--</option>
                            </Select>
                            <p class="help-block">لطفا با دقت انتخاب کنید ممکن است بعداً بعضی نقش ها قابل ویراش نباشد</p>
                            <span class="text-danger" asp-validation-for="Command.RoleId"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Command.Avatar" class="control-label">آواتار</label>
                            <input type="file" asp-for="Command.Avatar" class="form-control" accept="image">
                            <span class="text-danger" asp-validation-for="Command.Avatar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
            </div>
        </form>
    </div>


</div>








