@page "{id}"
@using System.Linq
@model WebHost.Areas.Administration.Pages.Account.Users.EditModel
@{
    ViewData["Title"] = "ویرایش کاربر";
}
<div id="page-wrapper">
    <div class="container">
        <partial name="Shared/_Create_View_Header" />
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Edit.Id" />
                <input type="hidden" asp-for="Edit.ActiveCode" />
                <div class="col col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Edit.FullName" class="control-label">نام کامل<span class="text-danger">*</span></label>
                                <input type="text" asp-for="Edit.FullName" class="form-control">
                                <span class="text-danger" asp-validation-for="Edit.FullName"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Edit.Email" class="control-label">ایمیل<span class="text-danger">*</span></label>
                                <input type="email" asp-for="Edit.Email" class="form-control " required>
                                <span class="text-danger" asp-validation-for="Edit.Email"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Edit.Phone" class="control-label">موبایل</label>
                                <input type="tel" asp-for="Edit.Phone" class="form-control " required>
                                <span class="text-danger" asp-validation-for="Edit.Phone"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Edit.Avatar" class="control-label">آواتار</label>
                                <input type="file" asp-for="Edit.Avatar" class="form-control" accept="image">
                                <span class="text-danger" asp-validation-for="Edit.Avatar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Edit.RoleId" class="control-label">انتخاب نقش...<span class="text-danger">*</span></label>
                                <Select asp-for="Edit.RoleId" asp-Items="@(new SelectList(Model.Edit.SelectList, "Id", "Name"));" type="file" class="form-control">
                                    <option value="0">--انتخاب کنید--</option>
                                </Select>
                                <span class="text-danger" asp-validation-for="Edit.RoleId"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
                    </div>
                </div>
            </form>
        </div>
          
    </div>
</div>