@page
@model WebHost.Areas.UserPanel.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "_Layout";
}
<div class="container mt-lg-5">
    <div class="row">
        <div class="col-md-12">
            <div class="top-breadcrumb">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb nav-userpanel">
                        <li class="breadcrumb-item nave-userpanel-mirgin-right"><a asp-page="../Index">لرن هاب</a></li>
                        <li class="breadcrumb-item nave-userpanel-mirgin-right"><a href="/UserPanel/DashBoard" >حساب کاربری</a></li>
                        <li class="breadcrumb-item nave-userpanel-mirgin-right active" aria-current="page">تغییر رمز عبور</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row gutters">
        <partial name="Shared/_Left-bar-menu" model="Model.UserInformation" />
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <form asp-page="/Account/Index" asp-page-handler="Edit" method="post" enctype="multipart/form-data">
                        @if (ViewData["WrongPassword"] != null)
                        {
                            <div class="alert alert-danger text-center">
                                <p>رمز عبور فعلی شما درست نمیاشد</p>
                            </div>
                        }
                          
                        @if (ViewData["iSSuccess"] != null)
                        {
                            <div class="alert alert-success text-center">
                                <p>رمز عبور شما با موفقیت تغییر کرد</p>
                            </div>
                            <script>
                                // milliseconds
                                var delay = 2000;
                                setTimeout(function () {
                                    window.location = "/UserPanel/Dashboard"} , delay);
                            </script>
                        }
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary text-center">تغییر رمز عبور</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="oldPassword">رمز عبور فعلی</label>
                                    <input type="password" asp-for="ChangePassword.OldPassword" class="form-control" id="oldPassword" placeholder="رمز فعلی خود را وارد کنید">
                                    <span asp-validation-for="ChangePassword.OldPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="newPassword">رمز عبور جدید</label>
                                    <input type="password" asp-for="ChangePassword.NewPassword" class="form-control" id="newPassword" placeholder="رمز عبور جدید وارد کنید">
                                    <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="confirmPassword">تایید رمز عبور جدید</label>
                                    <input type="password" asp-for="ChangePassword.ConfirmNewPassword" class="form-control" id="confirmPassword" placeholder="رمز عبور جدید وارد کنید">
                                    <span asp-validation-for="ChangePassword.ConfirmNewPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a href="/UserPanel/Dashboard"  class="btn btn-secondary">انصراف</a>
                                    <button type="submit" id="submit" name="submit" class="btn btn-primary">تغییر رمز عبور</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>