@using ShiftCoderQuery.Contract.Account
@using Type = _0_FrameWork.Application.ThisType
@model IEnumerable<ShiftCoderQuery.Contract.Comment.CommentModelForUserPanel>
@inject IAccountQuery _user;
@{
    ViewData["Title"] = "نظرات  من";
    Layout = "_Layout";
}
<div class="container mt-lg-5">
    <div class="row">
        <div class="col-md-12">
            <div class="top-breadcrumb">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb nav-userpanel">
                        <li class="breadcrumb-item nave-userpanel-mirgin-right"><a href="/Index">لرن هاب</a></li>
                        <li class="breadcrumb-item nave-userpanel-mirgin-right"><a href="/UserPanel/DashBoard" >حساب کاربری</a></li>
                        <li class="breadcrumb-item nave-userpanel-mirgin-right active" aria-current="page">نظرات من</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row gutters">
        <partial name="Shared/_Left-bar-menu" model="_user.UserInformation(User.Identity.Name)" />
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="col-12 container-table">
                        <br/>
                        <div class="container-info-aside price-course ">
                            <h1 id="text-price">نظرات</h1>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">مسیج</th>
                                <th scope="col"> تاریخ</th>
                                <th scope="col">آدرس</th>
                                <th scope="col">دستورات</th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item?.Message</td>
                                    <td>@item?.CreationDate</td>
                                    <td>
                                        @if (item.Type == Type.Course)
                                        {
                                            <a class="text-primary" href="/SingleCourse/@item?.CourseSlug#comment-@item?.Id"> @item?.CourseName</a>
                                        }
                                        else
                                        {
                                            <a href="/SingleArticle/@item.ArticleSlug#comment-@item.Id" class="text-primary">@item?.ArticleName</a>
                                        }
                                    </td>

                                    <td>
                                        <a href="#" class="text-dark p-4">حذف</a>
                                        <a href="#" class="text-warning">ویرایش</a>
                                    </td>

                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

