@page
@using _0_Framework.Application
@model WebHost.Areas.UserPanel.Pages.IndexModel
@{
    ViewData["Title"] = "مدریت حساب کاربری";
}
<link href="~/style/style-userPanel.css" rel="stylesheet" />
<main id="main-container" class="container">
    <div class="row">
        <header>
            <div>
                <h1 id="head-title">
                    مدیریت حساب کاربری
                </h1>
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-page="Index">خانه</a></li>
                        <li class="breadcrumb-item"><a asp-page="Articles">مقالات</a></li>
                    </ol>
                </nav>
            </div>
        </header>
        <section id="body-container" class="container" >
            <div class="row">
                <partial name="Shared/_Left-bar-menu" />
                <section id="content-container"  class="col-12 col-lg-8 ">
                    <div id="container-body">
                     
                    </div>
                    <div class="container-info-aside price-course ">
                        <h3 id="text-price">اطلاعات مقاله</h3>
                    </div>
                    <div class="line-aside"></div>

                    <div class="col col-md-12">
                        <div class="row">
                            <div class="col col-md-6">
                                <div class="container-info-user">
                                    <div class="container-title-line-aside">
                                        <i class="fas fa-user-alt icon-title-aside icon-title-aside-mr"></i>
                                        <p class="paragraph-info-aside">نام و نام خانوادگی :</p>
                                    </div>
                                    <div class="container-title-line-aside">
                                        <h2 class="value-info-aside">@Model.AccountList.FullName</h2>
                                    </div>
                                </div>
                                <div class="container-info-user">
                                    <div class="container-title-line-aside">
                                        <i class="fa fa-phone-alt  icon-title-aside"></i>
                                        <p class="paragraph-info-aside">موبایل :</p>
                                    </div>
                                    <div class="container-title-line-aside">
                                        <h5 class="value-info-aside">@Model.AccountList.Phone</h5>
                                    </div>
                                </div>
                                <div class="container-info-user">
                                    <div class="container-title-line-aside">
                                        <i class="fa fa-envelope icon-title-aside"></i>
                                        <p class="paragraph-info-aside">ایمیل :</p>
                                    </div>
                                    <div class="container-title-line-aside">
                                        <h5 class="value-info-aside">@Model.AccountList.Email</h5>
                                    </div>
                                </div>


                            </div>
                            <div class="col col-md-6">

                                <div class="container-info-user">
                                    <div class="container-title-line-aside">
                                        <i class="fas fa-times-circle icon-title-aside icon-title-aside-mr"></i>
                                        <p class="paragraph-info-aside">تاریخ ثبت نام :</p>
                                    </div>
                                    <div class="container-title-line-aside">
                                        <h2 class="value-info-aside">@Model.AccountList.CreationDate.ToFarsi()</h2>
                                    </div>
                                </div>
                                <div class="container-info-user">
                                    <div class="container-title-line-aside">
                                        <i class="fas fa-wallet icon-title-aside icon-title-aside-mr"></i>
                                        <p class="paragraph-info-aside">موجودی کیف پول :</p>
                                    </div>
                                    <div class="container-title-line-aside">
                                        <h2 class="value-info-aside">120,000 تومان</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 <br/>
                </section>
                <aside class="col-12 col-lg-4"></aside>
            </div>
        </section>
    </div>
</main>
