@page
@model WebHost.Areas.UserPanel.Pages.Order.IndexModel
@{ ViewData["Title"] = "فاکتور ها"; }

<div class="container mt-lg-5">
    <div class="row">
        <div class="col-md-12">
            <div class="top-breadcrumb">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb nav-userpanel">
                        <li class="breadcrumb-item nave-userpanel-mirgin-right"><a href="/Index">لرن هاب</a></li>
                        <li class="breadcrumb-item nave-userpanel-mirgin-right"><a href="/UserPanel/DashBoard" >حساب کاربری</a></li>
                        <li class="breadcrumb-item nave-userpanel-mirgin-right active" aria-current="page">فاکتور های من</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row gutters">
        <partial name="Shared/_Left-bar-menu" model="this.Model.UserInformation" />
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="col-12 container-table">
                        <br />
                        <div class="container-info-aside price-course ">
                            <h1 id="text-price">فاکتور ها</h1>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">شماره فاکتور</th>
                                    <th scope="col"> تاریخ</th>
                                    <th scope="col">مبلغ</th>
                                    <th scope="col">وضعیت</th>
                                    <th scope="col">دستورات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.List)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.CreationDate</td>
                                        <td>@item.OrderSum</td>
                                        <td>
                                            @if (item.IsFinally)
                                            {
                                                <p class="text-success">پرداخت شده</p>
                                            }
                                            else
                                            {
                                                <p class="text-danger">پرداخت نشده</p>
                                            }
                                        </td>
                                        <td>
                                            <a asp-page="/Order/Orders" asp-route-id="@item.Id" class="btn btn-info btn-block">نمایش</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>