
<aside id="aside-container" class="col-12 col-lg-4">
    <div class="condition-course condition-course-mb">
        <div id="container-profile-teacher">
            <div id="container-img-name-job-teacher">
                <img src="~/images/avatar-login.png" alt="Photo Teacher" id="img-info-user">

            </div>
        </div>

        <div class="container-info-teacher">
            <div class="container-line-info-line margin-container-line-info-line">
                <div class="line-info-aside"></div>
                <p class="title-info-teacher">تنظیمات حساب کاربری</p>
            </div>
            <ul id="ul-courses-teacher">
                <li class="listitem-courses-teacher">
                    <a asp-page="/Index" asp-area="UserPanel" class="anchor-courses-teacher"> مشاهده حساب کاربری</a>
                </li>

                <li class="listitem-courses-teacher">
                    <a asp-page="Order/Index"  class="anchor-courses-teacher">فاکتور ها</a>
                </li>
                
                <li class="listitem-courses-teacher">
                    <a asp-page="Index" asp-page-handler="Comments" asp-area="UserPanel"  class="anchor-courses-teacher">نظرات</a>
                </li>
                <li class="listitem-courses-teacher">
                    <a asp-page="/Account" asp-page-handler="Logout" class="anchor-courses-teacher">خروج از سایت</a>
                </li>

            </ul>
        </div>
    </div>
</aside>