<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <br/>
    <strong class="help-block"> پُر کردن فیلد های که با <span class="text-danger"> * </span> نشانی شده است اجباری میباشد.</strong>
</div>