<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">

    <div class="navbar-default navbar-static-side" role="navigation" >
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </li>
                <li>
                    <a asp-page="/Index"><i class="fa fa-dashboard fa-fw"></i> داشبورد</a>
                </li>
                <li>

                <li class="active">
                    <a><i class="fa fa-book "></i> مدیریت دوره ها<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" style="height: auto;">
                        <li>
                            <a asp-page="/Courses/CourseGroup/Index">گروه ها </a>
                        </li>

                        <li>
                            <a asp-page="/Courses/Course/Index">کورس ها </a>
                        </li>

                        <li >
                            <a asp-page="/Courses/Course/Index">کورس ها <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">

                                <li>
                                    <a asp-page="/Courses/CourseEpisode/Index">فایل های دوره </a>
                                </li>

                                <li>
                                    <a asp-page="/Courses/CourseStatus/Index">وضعیت دوره ها </a>
                                </li>
                                <li>
                                    <a asp-page="/Courses/CourseLevel/Index">سطح دوره ها</a>
                                </li>
                                <li>
                                    <a asp-page="/Courses/CourseSuitable/Index">دوره مناسب چی افرادی است؟</a>
                                </li>
                                <li>
                                    <a asp-page="/Courses/CoursePrerequisite/Index">پیش نیاز های دوره</a>
                                </li>
                                <li>
                                    <a asp-page="/Courses/AfterCourse/Index">توقعات بعد از تماشای دوره</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li >
                    <a><i class="fa fa-book "></i> مدیریت مقاله ها<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" style="height: auto;">
                        <li>
                            <a asp-page="/Blog/ArticleCategory/Index">گروه ها </a>
                        </li>

                        <li>
                            <a asp-page="/Blog/Article/Index">مقاله ها </a>
                        </li>

                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                </li>
            </ul>
        </div>
    </div>
</nav>

