.photo-size {
    max-width: 80px;
    max-height: 80px;
}
.bg-aliceblue {
    background-color: aliceblue !important;
}
.account-link a{
    text-decoration: none;
    color: white !important;
    font-size: 15px;
}

    .account-link a:hover {
        color: #FF6600 !important;
    }