.photo-size {
    max-height: 80px;
    max-width: 80px;
}

.bg-aliceblue { background-color: aliceblue !important; }

.account-link a:hover {
    color: #FF6600 !important;
    text-decoration: none;
}