:root {
    --color-red: #d71920;
    --color-light-red:#eb3233;
    --color-green:#82bc03;
    --color-gray:#5c546b;
    --color-dark-blue:#153248;
    --color-yellow:#ede622;
}

@font-face {
    font-family: Sahel;
    font-weight: 400;
    src: url(../fonts/Sahel.ttf);
}

@font-face {
    font-family: IranSansBold;
    font-weight: 400;
    src: url(../fonts/IRANSans-Bold.ttf);
}

@font-face {
    font-family: IranSans;
    font-weight: 400;
    src: url(../fonts/IRANSans.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] { -webkit-appearance: textfield }

/*		start header	*/

#custom-container-fluid-header {
    background-image: url(../images/img-2-1.png);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    height: auto;
    position: relative;
}

#custom-navbar-header {
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.75);
    user-select: none;
}

.link-navbar-header {
    color: #fff !important;
    font-size: 15px
}

.nav-link-home:hover { opacity: 0.5; }

.link-navbar-header:hover { opacity: .5; }

#profile-header {
    border-radius: 50%;
    width: 32px;
}

#navbarDropdown-2 { padding: 0 }

.bgcolo-ul-header {
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-radius: 0;
}

.hover-link-dropdown:hover { background-color: rgba(255, 255, 255, 0.4) }

#span-profile { padding-right: 5px }

#setting-list-item-header {
    list-style: none;
    margin-left: 20px;
}

.no-hover-link-dropdown:hover { background-color: transparent }

.list-style-li-header { list-style: none }

#megamenu-dropdown {
    margin-top: -1px;
    width: 100%;
}

.anchor-megamenu-border-radius {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
}

.arrow-down-header { width: 20px }

.li-item-megamenu { list-style: none }

.ul-item-megamenu { padding: 0 }

.ul-header-profile { margin-right: -2rem; }

.arow-down-item-magamenu {
    color: #fff;
    font-size: 2rem;
}

.icons-header { font-size: 1.8rem; }

.icons-header-li {
    font-size: 1.6rem;
    margin-bottom: -5px;
    margin-left: 5px;
}

/*		end header		*/

/*		start body		*/

#main-container { margin-top: 2rem; }

#head-title {
    font-family: IranSansBold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;	
}

.breadcrumb-item + .breadcrumb-item::before {
    margin-left: 8px;
    margin-right: -5px;
    transform: rotate(180deg);
}

/*		start sidebar		*/

.condition-course {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    padding: 1.5rem 1.5rem;
}

.container-info-aside {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.price-course {
    display: flex;
    justify-content: center;
}

#text-price {
    font-family: Sahel;
    font-size: 1rem;
    margin-left: 0.5rem;
}

#value-price {
    color: #50b826;
    font-family: IranSansBold;
    font-size: 1.2rem;
}

.line-aside {
    background-color: #ddd;
    border-radius: 25px;
    height: 1px;
    margin: 1rem 0;
    width: 100%;
}

.container-title-line-aside {
    display: flex;
    flex-direction: row;
}

.icon-title-aside {
    color: var(--color-gray);
    margin: 2px 0 0 0.4rem;
}

.paragraph-info-aside {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.value-info-aside {
    color: var(--color-gray);
    font-family: IranSansBold;
    font-size: 14px;
    margin: 0.2rem 0 0 0;
    padding: 0;
}

.state-course { color: #50b826; }

#container-register-course {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.icon-register {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: -4px;
    margin-left: 0.5rem;
}

#btn-register-course {
    background-color: transparent;
    background-color: #50b826;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    outline: none;
    padding: 10px 20px;
    transition: box-shadow 0.5s;
}

#btn-register-course:hover { box-shadow: none; }

#container-profile-teacher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#img-info-teacher {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 80px;
    width: 80px;
}

#container-name-job-teacher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem 0 0;
}

#container-img-name-job-teacher {
    display: flex;
    flex-direction: row;
}

#name-info-teacher {
    font-family: IranSansBold;
    font-size: 1.1rem;
}

#job-info-teacher {
    color: var(--color-gray);
    font-family: sahel;
    font-size: 0.9rem;
    text-align: left;
}

#container-profile-job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -15px;
    text-align: left;
}

#profile-info-teacher {
    color: var(--color-red);
    font-family: sahel;
}

#cv-info-teacher {
    color: #50b826;
    font-family: sahel;
}

.container-info-teacher { margin-top: 2rem; }

.container-line-info-line {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
}

.title-info-teacher {
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    color: #333;
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin-top: 15px;
    padding: 0 10px;
    position: absolute;
}

.line-info-aside {
    background-color: #ccc;
    border-radius: 25px;
    height: 1px;
    width: 100%;
}

.paragraph-info-teacher {
    color: var(--color-gray);
    font-size: 14px;
    margin: 1.8rem 0.5rem 0;
    text-align: center;
}

.margin-container-line-info-line { margin: 2rem 0 2rem; }

.listitem-courses-teacher {
    list-style-type: circle;
    margin-bottom: 0.5rem;
}

.anchor-courses-teacher {
    color: #222;
    font-size: 14.5px;
    transition: all 0.2s;
}

    .anchor-courses-teacher:hover {
        color: #1e90ff;

    }

.condition-course-mb { padding-bottom: 12px !important; }

#container-share-media {
    display: flex;
    justify-content: space-between;
}

#text-share-media {
    font-family: IranSansBold;
    font-size: 14px;
}

#container-icons-share-social { display: flex; }

.container-icon-share-social {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 32px;
    margin: -7.5px 0.5rem 0 0;
    transition: all 0.2s;
    width: 32px;
}

.container-icon-share-social:hover {
    box-shadow: 0 0 10px var(--color-red);
    opacity: 0.8;
}

.icon-share-social {
    color: #444;
    font-size: 20.5px;
    margin: 6px 7px 0 0;
    transition: all 0.2s;
}

.container-icon-share-social:hover .icon-share-social { color: var(--color-red); }


.icon-telegram-share { margin: 6px 8.5px 0 0; }

.icon-whatsapp-share { margin: 6px 7px 0 0; }

#container-view-comment-number {
    display: flex;
    justify-content: center;
    margin-bottom: 1.3rem;
}

#view-aside {
    display: flex;
    margin-left: 1.3rem;
}

#comment-aside {
    display: flex;
    margin-right: 1.6rem;
}

#line-y-aside {
    background-color: #ccc;
    border-radius: 25px;
    height: 25px;
    width: 1px;
}

.icon-view-comment-number {
    color: #555;
    font-size: 20px;
    margin-left: 0.5rem;
}

.paragraph-view-comment-number {
    color: #444;
    font-size: 0.9rem;
}

/*		end sidebar		*/

/*		start content		*/

#content-container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

#container-img-title {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.video-title-content {
    border-radius: 15px;
    height: auto;
    width: 97%;
}

#text-content { margin: 2rem 1rem; }

#text-content h2 {
    font-family: IranSansBold;
    font-size: 19px;
    margin-bottom: 3rem;
}

#text-content p {
    font-size: 15px;
    line-height: 2rem;
}

.container-prerequisites { margin-top: 2rem; }

.container-prerequisites h5 { font-size: 20px; }

.container-prerequisites ul {
    font-size: 15px;
    margin-top: 1.5rem;
}

.li-checked {
    list-style: none;
    margin-bottom: 1rem;
}

.li-checked::before {
    background-image: url("../svg/checked.svg");
    content: "";
    height: 23px;
    margin-right: -32px;
    position: absolute;
    width: 23px;
}

#title-support {
    color: var(--color-red);
    font-family: IranSansBold;
    font-size: 16px;
    margin-bottom: 2rem;
    opacity: 0.92;
}

.paragraph-support {
    border-bottom: 1px dashed #ddd;
    font-size: 14.5px;
    padding-bottom: 1rem;
}

.paragraph-support:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 12px;
}

.icon-support {
    color: #555;
    font-size: 18px;
    margin: 0 5px -2px 5px;
}

.icon-title-support {
    color: var(--color-red);
    font-size: 20px;
    margin: 0 0 -3px 5px;
    opacity: 0.9;
}

.bold-text-support {
    color: #444;
    letter-spacing: 0.8px;
}

.mt-h2-accordion { margin-top: 2rem; }

.accordion-button:focus {
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: none;
}

.accordion-btn {
    color: #444;
    font-size: 15px;
}

.accordion-button:not(.collapsed) {
    background-color: #FDF8F8;
    color: var(--color-red);
}

.container-Section {
    border-bottom: 1px dashed #ddd;
    display: flex;
    justify-content: space-between;
    margin-top: 1.7rem;
    padding-bottom: 0.9rem;
}

.container-Section:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.container-right-section { display: flex; }

.video-icon {
    color: #666;
    margin: 0 0 0 10px;
}

.title-section {
    color: #222;
    font-size: 15px;
    margin: 0;
}

.line-section {
    background-color: #ddd;
    height: 20px;
    margin: 0 1rem;
    width: 1px;
}

.video-time { margin: -5px 0 0 0; }

.container-left-section { display: flex; }

.icon-left-section {
    color: var(--color-red);
    font-size: 20px;
    margin-right: 1rem;
    opacity: 0.8;
    transition: all 0.2s;
}

.icon-left-section:hover { opacity: 1; }

.accordion-body { padding-top: .1px; }

/*		end content		*/

/*		start comment		*/

#comment-container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 2rem 0;
}

#header-comment { margin: 1.3rem 1rem 0 0; }

#header-comment h5 {
    color: #222;
    font-family: IranSansBold;
    font-size: 16px;
}

.icon-comment {
    color: #555;
    font-size: 20px;
    margin: 0 0 -2.5px 10px;
}

#number-all-comment { margin-right: 0.2rem; }

#container-send-comment {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    margin: 2rem 1rem;
    padding-bottom: 1.5rem;
}

#text-comment-write {
    color: #555;
    font-size: 15px;
    margin-bottom: 0;
    padding: 1rem 1.3rem;
}

.label-email-name { width: auto; }

.container-email-name {
    display: flex;
    flex-direction: column;
}

.label-email-name-text {
    color: #555;
    font-size: 15px;
    margin: 1rem 0 0.5rem;
}

.input-name-email {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    color: #111;
    font-size: 15px;
    height: 35px;
    outline: none;
    padding: 5px 20px;
}

.input-name-email:focus { box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }

.textarae-comment {
    margin-bottom: 1.5rem;
    max-height: 600px;
    min-height: 150px;
}

#submit-comment {
    align-items: center;
    background-color: var(--color-red);
    border: none;
    border-radius: 25px;
    color: #fff;
    display: flex;
    font-size: 16px;
    height: 30px;
    justify-content: center;
    margin: 0 1rem 1.3rem 0;
    opacity: 0.85;
    outline: none;
    transition: all 0.2s;
    width: 15%;
}

#submit-comment:hover { opacity: 1; }

.box-comment-question {
    background-color: #F5F5F5;
    border-radius: 15px;
    display: flex;
    margin: 0 1.7rem;
}

.container-photo-comment-answer-btn {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem 0 0;
    padding: 2rem 0;
}

.img-profile-user {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 80px;
    width: 80px;
}

.btn-answer {
    background-color: #50b826;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    height: 30px;
    margin-top: 3rem;
    outline: none;
    transition: all 0.2s;
    width: 80px;
}

.btn-answer:hover { opacity: 0.85; }

.icon-answer {
    color: #fff;
    font-size: 14px;
    margin-bottom: -2px;
    margin-right: 0.5rem;
}

.container-name-date {
    display: flex;
    margin: 3rem 2rem 1rem 2rem;
}

.name-commanet-question {
    font-family: IranSansBold;
    font-size: 14px;
    margin-top: 2px;
}

.line-name-date {
    background-color: #ccc;
    height: 20px;
    margin: 0 1rem;
    width: 1px;
}

.date-question {
    font-size: 14px;
    margin-bottom: -3px;
}

.text-question {
    font-size: 14px;
    margin: 0 2rem 2rem;
}

.box-comment-answer {
    background-color: transparent;
    border-radius: 15px;
    display: flex;
    margin: 0 1.7rem;
}

.line-end-comment-box {
    background-color: #ddd;
    border-radius: 25px;
    height: 1px;
    margin-bottom: 2rem;
    margin-right: 4%;
    width: 92%;
}

.container-answer-question:last-child .line-end-comment-box { display: none; }

#more-comment-btn {
    background-color: #50b826;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 0 2.5rem 0rem 0;
    outline: none;
    padding: 5px 10px;
}

#more-comment-btn:hover { opacity: 0.85; }




/*		end comment		*/

/*		end body		*/

/*		start footer		*/

#footer {
    background-color: #153248;
    height: auto;
    margin-top: 20px;
}

#container-title-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 35px 10px 0 0;
}

#title-info-footer {
    color: #c7c7c7;
    font-family: IranSansBold, tahoma;
    font-size: 17px;
    margin-bottom: 15px
}

#title-p-footer {
    color: #c7c7c7;
    font-size: 15px;
}

#container-newsletters-footer {
    display: flex;
    flex-direction: column;
    margin: 35px -20px 0 0;
}

#newsletters-footer-email {
    border: none;
    border-bottom: 1px solid #c7c7c7;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 35px;
    outline: none;
    text-align: center;
}

#newsletters-footer-email::placeholder { font-size: 14px }

#newsletters-footer-number {
    border: none;
    border-bottom: 1px solid #c7c7c7;
    height: 35px;
    outline: none;
    text-align: center;
}

#newsletters-footer-number::placeholder { font-size: 14px }

#newsletters-footer-submit {
    background-color: #82bc03;
    border: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 14px;
    height: 35px;
    outline: none;
}

#container-app-footer { padding: 25px 30px 0 0 }

.img-app-footer {
    margin-right: 20px;
    margin-top: 10px;
    width: 160px;
}

#container-footer-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#container-copyright-footer {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#p-copyright-footer {
    color: #c7c7c7;
    font-size: 14px
}

#container-social-footer {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.img-social-footer {
    height: 28px;
    margin-right: 10px;
    width: 28px;
}

#hero {
    background: url(../../img/BaseImg/hero-bg.jpg);
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 0
}

#hero:before {
    background: #153248;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

#hero .animated { animation: up-down 2s ease-in-out infinite alternate-reverse both }

/*		end footer		*/

/*		start responsive		*/

@media (min-width: 1024px) {
    #hero { background-attachment: fixed }
}

@media (max-width: 991px) {
    #hero { padding-top: 0 }

    #hero .animated { animation: none }

    #hero .hero-img { text-align: center }

    #hero .hero-img img { max-width: 50% }

    #hero h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px
    }
}

@media (max-width: 575px) {
    #hero .hero-img img { width: 80% }
}

@keyframes up-down {
    0% { transform: translateY(10px) }

    100% { transform: translateY(-10px) }
}

.hero-waves {
    display: block;
    height: 60px;
    margin-top: 0;
    position: relative;
    width: 100%;
    z-index: 5;
}

.wave1 use {
    animation: move-forever1 10s linear infinite;
    animation-delay: -2s
}

.wave2 use {
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s
}

.wave3 use {
    animation: move-forever3 6s linear infinite;
    animation-delay: -2s
}

@keyframes move-forever1 {
    0% { transform: translate(85px, 0%) }

    100% { transform: translate(-90px, 0%) }
}

@keyframes move-forever2 {
    0% { transform: translate(-90px, 0%) }

    100% { transform: translate(85px, 0%) }
}

@keyframes move-forever3 {
    0% { transform: translate(-90px, 0%) }

    100% { transform: translate(85px, 0%) }
}

@media screen and (max-width: 768px) {
    #news-span { display: none }

    #social-container-header { width: 46% }

    .arrow-down-header { width: 12px }

    #container-section-bottom-header { display: none }

    .section-bottom-header { padding-bottom: 20px }

    #container-meta-section { display: none }

    .container-name-section-content { margin-top: 20px }

    #container-title-footer {
        display: flex;
        flex-direction: column;
        margin: 35px 40px 0 0
    }

    #title-info-footer { text-align: center }

    #title-p-footer { text-align: center }

    #container-newsletters-footer {
        display: flex;
        justify-content: center;
        margin: 35px 0 0;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    #social-container-header { display: none }

    .container-full-packages { display: none }

    .chat-display-item-none { display: none }

    .video-time { display: none; }

    .line-section { display: none; }

    .video-icon { display: none; }

    .container-photo-comment-answer-btn { margin: 0 0.3 0 0; }

    .box-comment-answer { margin: 0 0; }

    .line-name-date { display: none; }

    .date-question { display: none; }

    .box-comment-question { margin: 0; }
}

@media screen and (max-width: 992px) {
    #meta-section-article { display: none }
}

@media screen and (max-width: 1200px) {
    #meta-section-teacher { display: none }

    #section-bottom-header-video { display: none }

    .container-name-section-content {
        display: flex;
        justify-content: space-between
    }

    .line-section-content { display: none }
}

/*		end responsive		*/