<!-- Footer Start -->
<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5">
        <div class="col-lg-7 col-md-12">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h5 class="text-primary text-uppercase mb-4">با ما در تماس باشید</h5>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>شهر نو-خیابان بنفشه-کوچه فلان -پلاک 135</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>021-340-210</p>
                    <p><i class="fa fa-envelope mr-2"></i>atina@gmail.com</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="btn btn-outline-light btn-square mr-2" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-outline-light btn-square mr-2" href="https://facebook.com/sharer.php?u=https://ihsasdevelopment.ir/" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-outline-light btn-square mr-2" href="http://www.linkedin.com/shareArticle?mini=true&url={https://ihsasdevelopment.ir}&title=LearnHub" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="btn btn-outline-light btn-square" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <h5 class="text-primary text-uppercase mb-4">دوره های ما</h5>
                    <cache expires-after="TimeSpan.FromDays(1)">
                        @await Component.InvokeAsync("Group")
                    </cache>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 mb-5">
            <h5 class="text-primary text-uppercase mb-4">آخرین خبر ها</h5>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی</p>
            <div class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="ایمیل آدرس">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">عضویت در خبرنامه</button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white">
                &copy; تمامی حقوق مادی و معنوی برای مجتمع <a asp-page="Index">لرن هاب</a> محفوظ میباشد
            </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <ul class="nav d-inline-flex">
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">حریم خصوصی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">مقررات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">سوالات متداول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">کمک</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>

<!-- Footer End -->