<footer class="container-fluid" id="footer">
    <div class="row">
        <div class="col-10 col-md-6 col-lg-4" id="container-title-footer">
            <h4 id="title-info-footer">لورم ایپسوم</h4>
            <p id="title-p-footer">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
            </p>
        </div>
        <div class="col-10 col-md-6 col-lg-4" id="container-newsletters-footer">
            <input type="email" id="newsletters-footer-email" placeholder="آدرس ایمیل">
            <input type="number" id="newsletters-footer-number" placeholder="شماره موبایل">
            <input type="submit" id="newsletters-footer-submit" value="عضویت در خبرنامه">
        </div>
        <div class="col-10 col-md-6 col-lg-4" id="container-app-footer">
            <div>
                <a href="#"><img src="~/images/GooglePlay.png" alt="GooglePlay" class="img-app-footer"></a>
                <a href="#"><img src="~/images/SibApp.png" alt="SibApp" class="img-app-footer"></a>
            </div>
            <div>
                <a href="#"><img src="~/svg/bazar.svg" alt="bazar" class="img-app-footer"></a>
                <a href="#"><img src="~/svg/myket.svg" alt="myket" class="img-app-footer"></a>
            </div>
        </div>
    </div>
    <div id="container-footer-bottom">
        <div class="col-6" id="container-copyright-footer">
            <p id="p-copyright-footer">
                استفاده از مطالب وبسایت آموزشی شیفت کدر فقط برای مقاصد غیرتجاری و با
                ذکر منبع بلامانع است.
            </p>
        </div>
        <div class="col-6" id="container-social-footer">
            <a href="#"><img src="~/icons/youtube-2.png" alt="youtube" title="youtube" class="img-social-footer"></a>
            <a href="#">
                <img src="~/icons/telegram-2.png" alt="telegram" title="telegram"
                     class="img-social-footer">
            </a>
            <a href="#">
                <img src="~/icons/linkedin-2.png" alt="linkedin" title="linkedin"
                     class="img-social-footer">
            </a>
            <a href="#">
                <img src="~/icons/instagram-2.png" alt="instagram" title="instagram"
                     class="img-social-footer">
            </a>
        </div>
    </div>
</footer>