
@model Shop.Management.Application.Contract.Course.CreateCourseViewModel
@{
    ViewData["Title"] = "ایجاد دوره جدید";
    Layout = "Shared/_AdminLayout";

}

<div id="page-wrapper">
    <div class="container">
        <partial name="Shared/_Create_View_Header" />

        <form method="post" asp-page="Index" asp-page-handler="Create" enctype="multiPart/form-data">
            <div class="modal-body col col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" name="name" class="control-label">نام<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" asp-for="Name" onchange="makeSlug('Name', 'Slug')">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Price" name="price" class="control-label">قیمت</label>
                            <input type="text" class="form-control" asp-for="Price">
                            <span class="text-danger" asp-validation-for="Price"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CourseGroupId" class="control-label">گروه آموزشی<span class="text-danger">*</span></label>
                            <Select asp-for="CourseGroupId" asp-Items="@(new SelectList(Model.CourseGroupSelectList, "Id", "Title"));" type="file" class="form-control">
                                <option value="0">--انتخاب کنید--</option>
                            </Select>
                            <span class="text-danger" asp-validation-for="CourseGroupId"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group no-margin">
                            <label asp-for="TeacherId" class="control-label">استاد دوره<span class="text-danger">*</span></label>
                            <select class="form-control autogrow" asp-for="TeacherId" asp-items="@(new SelectList(Model.TeacherSelectList, "Id", "AccountName"))">
                                <option value="0">انتخاب کنید</option>
                            </select>
                            <span class="text-danger" asp-validation-for="TeacherId"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CourseLevelId" class="control-label">سطح دوره<span class="text-danger">*</span></label>
                            <Select asp-for="CourseLevelId" asp-Items="@(new SelectList(Model.CourseLevelSelectList, "Id", "Title"));" type="file" class="form-control">
                                <option value="0">--انتخاب کنید--</option>
                            </Select>
                            <span class="text-danger" asp-validation-for="CourseLevelId"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CourseStatusId" class="control-label">وضعیت دوره<span class="text-danger">*</span></label>
                            <Select asp-for="CourseStatusId" asp-Items="@(new SelectList(Model.CourseStatusSelectList, "Id", "Title"));" type="file" class="form-control">
                                <option value="0">--انتخاب کنید--</option>
                            </Select>
                            <span class="text-danger" asp-validation-for="CourseStatusId"></span>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">کد این دوره<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" asp-for="Code">
                            <span class="text-danger" asp-validation-for="Code"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="File" class="control-label">فایل<span class="text-danger">*</span></label>
                            <input type="file" asp-for="File" class="form-control" accept="video/*" required>
                            <span class="text-danger" asp-validation-for="File"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PictureAlt" class="control-label">Alt<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" asp-for="PictureAlt">
                            <span class="text-danger" asp-validation-for="PictureAlt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PictureTitle" class="control-label">عنوان<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" asp-for="PictureTitle">
                            <span class="text-danger" asp-validation-for="PictureTitle"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="KeyWords" class="control-label">کلمات کلیدی<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" asp-for="KeyWords">
                            <p class="help-block">کلمات را با - از همدیگر جدا کنید</p>
                            <span class="text-danger" asp-validation-for="KeyWords"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Slug" class="control-label">اسلاگ<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" asp-for="Slug">
                            <span class="text-danger" asp-validation-for="Slug"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label asp-for="ShortDescription" class="control-label">توضیحات کوتاه<span class="text-danger">*</span></label>
                            <textarea class="form-control autogrow" asp-for="ShortDescription" rows="4" onchange="fillField('ShortDescription', 'MetaDescription')"></textarea>
                            <span class="text-danger" asp-validation-for="ShortDescription"></span>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label asp-for="MetaDescription" class="control-label">توضیحات متا<span class="text-danger">*</span></label>
                            <textarea class="form-control autogrow" asp-for="MetaDescription" rows="2"></textarea>
                            <span class="text-danger" asp-validation-for="MetaDescription"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label asp-for="Description" class="control-label">توضیحات</label>
                            <textarea class="form-control autogrow" asp-for="Description" rows="5"></textarea>

                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                    </div>
                </div>


            </div>
            
            <div class="col-md-4">
                <p></p>
                <img id="imgCourse" class="thumbnail" src="/FileUploader/asp-net/2021-09-15-23-49-49-img-2.jpg" />
                <div class="form-group">
                    <label asp-for="Picture" class="control-label">عکس<span class="text-danger">*</span></label>
                    <input id="imgCourseUp" type="file" asp-for="Picture" class="form-control" accept="image/*" required>
                    <span class="text-danger" asp-validation-for="Picture"></span>
                </div>

                <br />
                <hr />

                <img id="DemoImg" class="thumbnail" src="/FileUploader/asp-net/2021-09-15-23-49-49-img-2.jpg" />
                <div class="form-group">
                    <label asp-for="DemoPoster" class="control-label">عکس پشت زمینه دمو</label>
                    <input id="DemoCourse" type="file" asp-for="DemoPoster" class="form-control" accept="image/*">
                    <span class="text-danger" asp-validation-for="DemoPoster"></span>
                </div>

            </div>
            
          
            <div class="modal-footer">
                <input type="submit" value="ایجاد" class="btn btn-info">
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('Description', {
            customConfig: '~/js/Config.js'
        });



        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgCourse').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgCourseUp").change(function () {
            readURL(this);
        });






    </script>
}
