@model ColleagueDiscountManagementApplication.Contract.CustomerDiscount.CreateCustomerDiscountViewModel
@{
    ViewData["Title"] = "ایجاد تخفیف جدید";

}

<div class="container">
    <partial name="Shared/_Create_View_Header"/>

    <form asp-page="./Index" asp-page-handler="Create"
          method="post"
          data-ajax="true"
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">


                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CourseId" class="control-label">انتخاب دوره...<span class="text-danger">*</span></label>
                        <Select asp-for="CourseId" asp-Items="@(new SelectList(Model.SelectList, "Id", "Name"));" type="file" class="form-control">
                            <option value="0">--انتخاب کنید--</option>
                        </Select>
                        <span class="text-danger" asp-validation-for="CourseId"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DiscountRate" class="control-label">درصد تخفیف<span class="text-danger">*</span></label>
                        <input type="number" asp-for="DiscountRate" class="form-control">
                        <span class="text-danger" asp-validation-for="DiscountRate"></span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label">تاریخ شروع<span class="text-danger">*</span></label>
                        <input type="datetime" asp-for="StartTime" class="form-control PersianDateInput" required>
                        <span class="text-danger" asp-validation-for="StartTime"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndTime" class="control-label">تاریخ پایان<span class="text-danger">*</span></label>
                        <input type="datetime" asp-for="EndTime" class="form-control PersianDateInput" required>
                        <span class="text-danger" asp-validation-for="EndTime"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group no-margin">
                        <label asp-for="Description" class="control-label">توضیحات </label>
                        <textarea class="form-control autogrow" id="ShortDescription" asp-for="Description" rows="2"></textarea>

                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Reason" class="control-label">علت تخفیف</label>
                        <input type="text" class="form-control" asp-for="Reason">
                        <span class="text-danger" asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
            <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
        </div>
    </form>
</div>