<!doctype html>
<html lang="fa">

<head>
    <title>شیفت کدر-ViewData["Title"]</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="frameworks/bootstrap/bootstrap.rtl.min.css">
    <link rel="stylesheet" type="text/css" href="style/style-signin-form.css">
    <link rel="stylesheet" type="text/css" href="style/style-login-form.css">

</head>

<body dir="rtl">
    @RenderBody()

    <script src="~/frameworks/bootstrap/bootstrap.min.js"></script>
    <script src="~/scripts/debugAvatar.js"></script>
    <script src="~/scripts/text.js"></script>
    <script src="~/scripts/singUp.js"></script>
    <script src="scripts/script-login-form.js"></script>


</body>
</html>
