<!doctype html>
<html lang="en">
<head>
    <title>@ViewData["Title"]-لرن هاب</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Account/style/style-login.css" rel="stylesheet" />

</head>
<body dir="rtl"
      class="img js-fullheight" style="background-image: url(/Account/images/bg.png); ">
<section class="ftco-section">
    <div class="container">
        @RenderBody()

    </div>
</section>


<script src="~/Account/scripts/login-form/login-.js"></script>
<script src="~/Account/scripts/login-form/login-jquery.min.js"></script>
<script src="~/Account/scripts/login-form/login-main.js"></script>
<script src="~/frameworks/bootstrap/bootstrap.min.js"></script>
<script src="~/Account/scripts/jquery.validate.js"></script>

</body>
</html>