@model IEnumerable<ShiftCoderQuery.Contract.Comment.CommentQueryModel>


    @foreach (var sub in Model)
    {
        <div class="box-comment-answer">
            <div class="container-photo-comment-answer-btn">
                <img src="~/images/profile-2.jpg" alt="profile user" class="img-profile-user">
                <a href="#formPost" onclick='$("#commentParenId").val(@sub.Id)' class="btn-answer text-center">
                    پاسخ
                    <i class="fas fa-reply icon-answer"></i>
                </a>
            </div>
            <div class="container-name-text-comment">
                <div class="container-name-date">
                    <h6 class="name-commanet-question">@sub.Name</h6>
                    <div class="line-name-date"></div>
                    <p class="date-question"> 23:59 - @sub.CreationDate</p>
                </div>
                <div>
                    <p class="text-question">
                        @sub.Message
                    </p>
                </div>
            </div>
        </div>
    }
