<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"]-لرن هاب</title>
    }
    else
    {
        <title>لرن هاب</title>
    }


    <partial name="PartialViews/_Styles"/>

</head>

<body dir="rtl">

<partial name="PartialViews/_Header"/>

@await Component.InvokeAsync("Menu")

@RenderBody()

<partial name="PartialViews/_Footer"/>

<partial name="PartialViews/_Scripts"/>


@await RenderSectionAsync("Scripts", false)

</body>

</html>