<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>ECOURSES - Online Courses HTML Template</title>
    
   
    <partial name="PartialViews/_Styles"/>

</head>

<body dir="rtl">

    <partial name="PartialViews/_Header"/>

    @await Component.InvokeAsync("Menu")

    @RenderBody()

<partial name="PartialViews/_Footer" />

    <partial name="PartialViews/_Scripts"/>


@await RenderSectionAsync("Scripts", required:false)

</body>

</html>