@model AccountManagement.Application.Contract.Account.ForgotPasswordViewModel
<html>
<head>
    <title>باز نشانی کلمه عبور-شیف کدر</title>
    <style>
        body {
            color: #555;
            font-family: Calibri, sans-serif;
            font-size: 11pt;
        }

        blockquote {
            border-left: 8px solid #cceeaa;
            font-size: 12pt;
            margin: 0;
            padding: 30px 60px;
        }
    </style>
</head>
<body dir="rtl">
<h2>کاربر عزیز</h2>
<blockquote>برای بازیابی کلمه عبور خود بروی لینک زیر کلیک کنید.</blockquote>
<blockquote>این لینک فقط یکبار قابل استفاده میباشد</blockquote>

<h3>
    <a href="https://ihsasdevelopment.ir/Account?id=@Model.ActiveCode&handler=ResetPassword"> باز نشانی گذرواژه</a>
</h3>
</body>
</html>