
@using _0_Framework.Application
@model List<ShiftCoderQuery.Contract.Course.LatestCourseViewModel>
<div class="container container-cards">
    <div class="row">
        <div class="row">
         <partial name="PartialViews/_Courses" model="Model"/>

        </div>
    </div>
</div>
