
@model List<ShiftCoderQuery.Contract.Course.GetAllCourseQueryModel>
<div class="container container-cards">
    <div class="row">
        <partial name="Shared/_Courses" model="Model"/>
    </div>
</div>
