@model Shop.Management.Application.Contract.CourseGroup.CreateCourseGroupViewModel
@{
    ViewData["Title"] = "ایجاد گروه آموزش جدید";
}

<div class="container">
    <partial name="Shared/_Create_View_Header" />
    <form asp-page="./Index" asp-page-handler="Create"
          method="post"
          data-ajax="true"
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">عنوان <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Title" placeholder="" onchange="makeSlug('Title', 'Slug')">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SubGroupId" class="control-label">گروه اصلی <span class="text-danger">*</span></label>
                        <select type="text" class="form-control" asp-for="SubGroupId" asp-items="@(new SelectList(Model.CourseGroupSelectList, "Id", "Title"))">
                            <option selected>ندارد</option>
                        </select>
                        <span class="text-danger" asp-validation-for="SubGroupId"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PictureAlt" class="control-label">Alt تصویر <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="PictureAlt" placeholder="Alt">
                        <span class="text-danger" asp-validation-for="PictureAlt"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PictureTitle" class="control-label">عنوان تصویر <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="PictureTitle" placeholder="عنوان">
                        <span class="text-danger" asp-validation-for="PictureTitle"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Picture" class="control-label"> تصویر <span class="text-danger">*</span></label>
                        <input type="file" class="form-control" asp-for="Picture"  accept="image">
                        <span class="text-danger" asp-validation-for="Picture"></span>
                        <p class="help-block"> width:400px; height:250px</p>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Slug" class="control-label"> اسلاگ<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Slug">
                        <span class="text-danger" asp-validation-for="Slug"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="KeyWords" class="control-label">کلمات کلیدی <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="KeyWords" placeholder="کلمات کلیدی برای SEO">
                        <span class="text-danger" asp-validation-for="KeyWords"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group no-margin">
                        <label asp-for="MetaDescription" class="control-label">توضیحات متا <span class="text-danger">*</span></label>
                        <textarea class="form-control autogrow" asp-for="MetaDescription" rows="3"></textarea>
                        <span class="text-danger" asp-validation-for="MetaDescription"></span>
                    </div>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
            <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
        </div>
    </form>
</div>











