@model Shop.Management.Application.Contract.CourseGroup.EditCourseGroupViewModel
@{
    ViewData["Title"] = "ویرایش گروه آموزش ها";
}

<div class="container">
    <partial name="Shared/_Create_View_Header" />

    <form asp-page="./Index" asp-page-handler="Edit"
          method="post"
          data-ajax="true"
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">عنوان <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Title" placeholder="" onchange="makeSlug('Title', 'Slug')">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SubGroupId" class="control-label">گروه اصلی <span class="text-danger">*</span></label>
                        <select type="text" class="form-control" asp-for="SubGroupId" asp-items="@(new SelectList(Model.CourseGroupSelectList, "Id", "Title"))">
                            <option >ندارد</option>
                        </select>
                        <span class="text-danger" asp-validation-for="SubGroupId"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Slug" class="control-label"> اسلاگ<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Slug">
                        <span class="text-danger" asp-validation-for="Slug"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="KeyWords" class="control-label">کلمات کلیدی <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="KeyWords" placeholder="کلمات کلیدی برای SEO">
                        <span class="text-danger" asp-validation-for="KeyWords"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group no-margin">
                        <label asp-for="MetaDescription" class="control-label">توضیحات متا <span class="text-danger">*</span></label>
                        <textarea class="form-control autogrow" asp-for="MetaDescription" rows="3"></textarea>
                        <span class="text-danger" asp-validation-for="MetaDescription"></span>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
            <button type="submit" class="btn btn-info waves-effect waves-light">ویرایش</button>
        </div>
    </form>
</div>