
@model BlogManagement.Application.Contract.Article.CreateArticleViewModel
@{
    ViewData["Title"] = "ایجاد مقاله جدید";
}

<div class="container">
    <partial name="Shared/_Create_View_Header" />

    <form asp-page="./Index" asp-page-handler="Create"
          method="post"
          data-ajax="true"
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="checkbox" class="checkbox-inline" asp-for="IsPublish" >
                        <label asp-for="IsPublish" class="checkbox-inline">آیا این مقاله بعد از ایجاد در سایت منتشر شود؟</label>
                    </div>
                    
                    <p class="help-block">در صورت انتخاب نکردن این گزینه مقاله شما در در سایت منتشر نشده
                        و فقط در پنل ادمین میباشد، بعدا میتوانید وضعیت را تغییر دهید </p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">نام<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Title" onchange="makeSlug('Title', 'Slug')">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">گروه مقاله<span class="text-danger">*</span></label>
                        <Select asp-for="CategoryId" asp-Items="@(new SelectList(Model.SelectList, "Id", "Name"));" type="file" class="form-control">
                            <option value="0">--انتخاب کنید--</option>
                        </Select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Picture" class="control-label">عکس<span class="text-danger">*</span></label>
                        <input type="file" asp-for="Picture" class="form-control" accept="image/*" required>
                        <span class="text-danger" asp-validation-for="Picture"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CanonicalAddress" class="control-label">CanonicalAddress</label>
                        <input type="text" asp-for="CanonicalAddress" class="form-control">
                        <span class="text-danger" asp-validation-for="CanonicalAddress"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PictureAtl" class="control-label">Alt<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="PictureAtl">
                        <span class="text-danger" asp-validation-for="PictureAtl" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PictureTitle" class="control-label">عنوان<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="PictureTitle">
                        <span class="text-danger" asp-validation-for="PictureTitle"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Keywords" class="control-label">کلمات کلیدی<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Keywords" placeholder="حداکثر 100 کاراکتر">
                        <span class="text-danger" asp-validation-for="Keywords"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ShowOrder" class="control-label">ترتیب نمایش</label>
                        <input type="text" class="form-control" asp-for="ShowOrder">
                        <span class="text-danger" asp-validation-for="ShowOrder"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group no-margin">
                        <label asp-for="ShortDescription" class="control-label">توضیحات کوتاه</label>
                        <textarea class="form-control autogrow" asp-for="ShortDescription" rows="2" placeholder="حداکثر 1000 کاراکتر" onchange="fillField('ShortDescription', 'MetaDescription')"></textarea>

                        <span class="text-danger" asp-validation-for="ShortDescription"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group no-margin">
                        <label asp-for="Description" class="control-label">توضیحات<span class="text-danger">*</span></label>
                        <textarea class="form-control autogrow" asp-for="Description" rows="4"></textarea>

                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group no-margin">
                        <label asp-for="MetaDescription" class="control-label">توضیحات متا<span class="text-danger">*</span></label>
                        <textarea class="form-control autogrow" id="MetaDescription" asp-for="MetaDescription" rows="2" placeholder="حداکثر 150 کاراکتر"></textarea>
                        <span class="text-danger" asp-validation-for="MetaDescription"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Slug" class="control-label">اسلاگ<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" asp-for="Slug">
                        <span class="text-danger" asp-validation-for="Slug"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
            <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
        </div>
    </form>
</div>
